@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


.navbar{
    font-family: Raleway;
    border-bottom: 4px solid #04c2c9;
    /* position: sticky;
    top: 0px; */
}

.navbar-items{
    margin: 0px 20px 0px auto;
}

.nav-link{
    text-transform: uppercase;
    color: #e31b6d;
}

